In [1]:
import pandas as pd
from sqlalchemy import create_engine

Write data to database

In [2]:
df = pd.read_csv('green_tripdata_2019-10.csv', low_memory=False)
df.columns = [i.lower() for i in df.columns]
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

In [3]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
pd.io.sql.get_schema(df, 'taxi_data', con=engine)

'\nCREATE TABLE taxi_data (\n\tvendorid FLOAT(53), \n\tlpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE, \n\tlpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE, \n\tstore_and_fwd_flag TEXT, \n\tratecodeid FLOAT(53), \n\tpulocationid BIGINT, \n\tdolocationid BIGINT, \n\tpassenger_count FLOAT(53), \n\ttrip_distance FLOAT(53), \n\tfare_amount FLOAT(53), \n\textra FLOAT(53), \n\tmta_tax FLOAT(53), \n\ttip_amount FLOAT(53), \n\ttolls_amount FLOAT(53), \n\tehail_fee FLOAT(53), \n\timprovement_surcharge FLOAT(53), \n\ttotal_amount FLOAT(53), \n\tpayment_type FLOAT(53), \n\ttrip_type FLOAT(53), \n\tcongestion_surcharge FLOAT(53)\n)\n\n'

In [4]:
df.to_sql(name='taxi_data', con=engine, if_exists='replace')

386

In [5]:
df = pd.read_csv('taxi_zone_lookup.csv', low_memory=False)
df.columns = [i.lower() for i in df.columns]
df.to_sql(name='taxi_zones', con=engine, if_exists='replace', index=False)

265

Get info from the tables

During the period of October 1st 2019 (inclusive) and November 1st 2019 (exclusive), how many trips, respectively, happened:

- Up to 1 mile
- In between 1 (exclusive) and 3 miles (inclusive),
- In between 3 (exclusive) and 7 miles (inclusive),
- In between 7 (exclusive) and 10 miles (inclusive),
- Over 10 mile

In [6]:
def get_query_results(query_name: str, connection) -> list:

    try: 
        with open(query_name, "r") as f:
            query = f.read()
    except Exception as e:
        print(f'error while reading query file: {e}')
        raise e
    
    res = connection.execute(query).fetchall()
    return res

In [7]:
get_query_results('trip_segmentation.sql', engine)

C:\Users\49162\AppData\Local\Temp\ipykernel_5364\4207212783.py:9: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  res = connection.execute(query).fetchall()

[(104838, 199013, 109645, 27688, 35202)]

Which was the pick up day with the longest trip distance? Use the pick up time for your calculations

In [8]:
get_query_results('longest_trip.sql', engine)

[(datetime.date(2019, 10, 31),)]

Which were the top pickup locations with over 13,000 in total_amount (across all trips) for 2019-10-18?

In [9]:
get_query_results('pickup_location.sql', engine)

[('East Harlem North', 18686.68000000008),
 ('East Harlem South', 16797.26000000006),
 ('Morningside Heights', 13029.79000000003)]

For the passengers picked up in October 2019 in the zone named "East Harlem North" which was the drop off zone that had the largest tip?

In [10]:
get_query_results('largest_tip.sql', engine)

[('JFK Airport',)]